.bars {
  display: none;
}
@media (max-width: 1200px) {
  /* create sidebar */
  .content-left.active {
    display: none;
  }

  .bars {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    color: var(--text-color);
    z-index: 5;
    top: 10px;
    left: 0;
    cursor: pointer;
  }

  .bars i {
    margin: 0 10px;
    color: var(--text-color);
    font-size: 1.8rem;
  }

  .repos-main {
    flex-flow: row wrap;
  }

  .post {
    flex-flow: row wrap;
    justify-content: center;
  }
}
