:root {
  --black: #4d4c59;
  --purple: #6c63ff;
  --light-grey: #c8c8c8;
  --text-color: #9c9ab6;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.topImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  width: 100%;
  overflow: hidden;
  gap: 82px;
}

.bottomImage {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

.bottomImage img,
.topImage img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.content {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}

.title {
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 54px;

  letter-spacing: 0.105em;
  text-transform: uppercase;

  color: var(--purple);
}

.descriptions,
.numbers {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-around;
}

.descriptions span {
  text-align: center;
  font-family: Poppins;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 21px;

  text-transform: capitalize;

  color: var(--light-grey);
}

.numbers span {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 72px;
  line-height: 108px;

  color: var(--black);
}

.description p {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;

  color: var(--text-color);
}

.content button {
  border: none;
  padding: 0.7rem;
  background: var(--purple);
  border-radius: 10px;

  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;

  color: #ffffff;
}
